# BMAD Framework Outputs
# Ignore toàn bộ BMAD output

# Claude AI
.claude/
*.claude
.claude*
settings.local.json
*.local.json

.cursor/
.github/
_bmad/
.agent/

latex/
!latex/main.pdf
!latex/main.tex
!latex/main.pdf
!latex/run.cmd
!latex/auto_build.bat